{ 
    "presets": ["env"],
    "env": {
        "production": {
            "presets": [
                "minify"
            ]
        },
        "development": {
            "presets": [
                "env",
                "react"
            ]
        }
    }
}
